# Ignore everything in the data folder
data/**/*.csv
# But do NOT ignore the README file inside data
!data/README.md
!data/Readme.md
!data/**/README.md
!data/**/Readme.md
!data/**/readme.md

output/
# Ignore everything in the etl-output folder
etl-output/**
# But do NOT ignore the README file inside etl-output
!etl-output/README.md
!etl-output/Readme.md
!etl-output/**/README.md
!etl-output/**/Readme.md
!etl-output/**/readme.md

# Ignore everything in the deidentification-output folder
deidentification-output/**
# But do NOT ignore the README file inside deidentification-output
!deidentification-output/README.md
!deidentification-output/Readme.md
!deidentification-output/**/README.md
!deidentification-output/**/Readme.md
!deidentification-output/**/readme.md
.DS_Store

# Python bytecode caches
__pycache__/
*.py[cod]
